<!--<div id="contact-form" class="col-md-4">-->
    <form style="border: 1px solid #fff">


        <div class="form-group">

            <input type="name" class="form-control" id="exampleInputName" placeholder="Enter name">
        </div>

        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="asd@gmail.com">
        </div>

        <div class="form-group">
            <input type="phone" class="form-control" id="exampleInputPhone" placeholder="000-000-0000">
        </div>

        <div class="form-group form-comment">
            <textarea cols="20" rows="5" placeholder="Comments? Questions?"></textarea>
        </div>
        <button type="Submit" value="Submit" class="btn btn-primary">Send</button>
    </form>
<!--</div>-->