<div class="container crossfade-img">

    <!-- The Crossfade show -->
    <div id="crossfade">
        <img class="top" src="img/s2.jpg">
        <img class="bottom" src="img/sss2.jpg">
        <!-- search n label -->

        <div class="Crossfade-button">
            <input type="button" class="click" id="click" value="FIND MY LOCATION">
            <input type="text" class="control-label" value="Type to search by city" />
            <input type="button" class="click" id="click" value="Search">
        </div>
    </div>
</div>
<hr />
<p>&nbsp;&nbsp;</p>