


<!-----Footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h3>Quick search</h3>
                <div>


                    <a href="#buy">
                        <i class="fa fa-map-marker" style="font-size:15px; margin-right:2px"></i>

                        Most Recent Listings
                    </a><br>


                    <!-- carousel footer -->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- carousel wrapper-->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="img/footim1.jpg" style="width:100%;">
                                <div class="carousel-caption">
                                    <a href="">HUGE 3BR TOWNHOME W/FINISHED BSMT IN SCHAUMBURG SCHOOL
                                        DISTRICT!</a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="img/footim4.JPEG" style="width:100%;">
                                <div class="carousel-caption">
                                    <a href="">HUGE 3BR TOWNHOME W/FINISHED BSMT IN SCHAUMBURG SCHOOL
                                        DISTRICT!</a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="img/footim3.jpg" style="width:100%;">
                                <div class="carousel-caption">
                                    <a href="">HUGE 3BR TOWNHOME W/FINISHED BSMT IN SCHAUMBURG SCHOOL
                                        DISTRICT!</a>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <hr />
            <hr />
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h3>Follow us</h3>
                <a href="https://www.facebook.com/MaryStevensRealEstate"> <i class="fa fa-facebook-official"
                        aria-hidden="true"></i></a><br><br><br>
                <a> <i class="fa fa-chevron-right">The Marina Apartment</i></a><br>
                <a> <i class="fa fa-chevron-right">Laidley Cottage</i></a><br>
                <a> <i class="fa fa-chevron-right">Virginia House</i></a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h5>Get Listing Updates on Facebook</h5>



                <div class="fbb">
                    <div class="box big-box">
                        <div class="small-box">
                            <img src="img/maryfoo.jpg" alt="doll">
                            <div class="FBmary">
                                <h5>Mary steven</h5>
                                <h6>193Likes</h6>
                            </div>

                        </div>

                        <button class="btn btn-link right"><i class="fa fa-share" aria-hidden="true"></i>
                            share</button>
                        <button class="btn btn-link left"><i class="fa fa-facebook-official"
                                aria-hidden="true"></i>&nbsp;Like Page</button>

                    </div>
                    <div class="box text-center">Be the first of your friends to like this</div>
                </div>

            </div>


            <div class="col-lg-3 col-md-6 col-sm-12">
                <p><strong>Mary Stevens, CDPE</strong><br>

                    <i class="fa fa-hashtag"></i>475.135695<br>
                    <i class="fa fa-phone"></i>(847) 910-4890
                    <i class="fa fa-envelope-o"></i>mstevens21@aol.com<br>
                    <strong>
                        <i class="fa fa-building-o"> </i>
                        Century 21 ABC Schiro Group
                    </strong>
                    1732 W. Wise Road
                    Schaumburg, IL 60193</p><br>

                <img src="img/EOH.png"/ style="width:50px; height:50px">
                <p><br>
                    <a href="#">Admin Login</a>
                </p>
            </div>

        </div>
    </div>
</div>
<div class="footer-copyright text-left py-3">© 2019 Copyright&nbsp;<span><a>|&nbsp;Terms of Use&nbsp;</a></span>
    <span><a> |&nbsp;Privacy Policy</a></span>

    <span class="subfooter">
        <a id="contact_link"> <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
        <div id="contact-popup">  
        <html-include href="partials/contact-form.html"></html-include>
</div>
        &nbsp;
       
    </span>
</div>

