<div class="container crossfade-img">

    <!-- The Crossfade show -->
    <div id="crossfade">
        <img class="top" src="img/s2.jpg">
        <img class="bottom" src="img/sss2.jpg">
        <!-- search n label -->

        <div class="Crossfade-button">
            <input type="button" class="click" id="click" value="FIND MY LOCATION">
            <input type="text" class="control-label" value="Type to search by city" />
            <input type="button" class="click" id="click" value="Search">
        </div>
    </div>
</div>
<hr />
<p>&nbsp;&nbsp;</p>

<!--buy sell contact round images -->

<div class="container text-center">

    <div class="row">

        <div class="col-md-4">
            <p><a><img src="img/Buy.png" width="150" height="150"></a></p>
            <p><a href="http://marystevens.com/">What’s Your Home Worth</a></p>
            <p>Search all available real estate and homes for sale in
                Schaumburg, Hanover Park, Bartlett, Hoffman Estates,
                Streamwood and surrounding areas instantly!</p>
        </div>
        <div class="col-md-4">
            <p><a><img src="img/Sell.png" width="150" height="150"> </a></p>
            <p><a href="http://marystevens.com/">What’s Your Home Worth</a></p>
            <p>With the ever changing market,&nbsp;
                see how your home compares with others in your neighborhood.</p>
        </div>
        <div class="col-md-4">
            <p><a><img src="img/Contact.png" width="150" height="150"></a></p>
            <p><a href="http://marystevens.com/">What’s Your Home Worth</a></p>
            <p>Let me know how I can help you meet your needs, whether
                you’re just looking or preparing for your search.</p>
        </div>
    </div>
</div>
<!--  Agent Information  -->
<div class="container agent-indro">

    <div class="row">

        <div id="agent-profile" class="col-md-4">
            <html-include href="partials/profile.html"></html-include>
        </div>

        <div class="col-md-8">
            <p style="text-align: justify">Welcome to my website! I am your premier real estate expert in
                Schaumburg&nbsp;and&nbsp;I am here to provide you with all the resources and information you need to buy
                or sell real estate. I work with buyers and sellers in Schaumburg, Hanover Park, Bartlett, Hoffman
                Estates, Streamwood and I have had extensive training in the latest real estate strategies. I am
                confident that I can offer you knowledge and tools most other agents can’t. Take a look at my website,
                <a href="http://marystevens.com">My Website</a>, to see some of the great tools I have to offer.</p>
            <p style="text-align: justify"><strong><img title="Cry"
                        src="http://secure.z57.com/mx/mcc/tinymce/jscripts/tiny_mce/plugins/emotions/images/smiley-cry.gif"
                        alt="Cry" width="18" height="18" border="0"
                        onerror="this.src='https://d23r59tl76qo2o.cloudfront.net/images/not-avail-min.jpg'">HAVING
                    TROUBLES MAKING YOUR MORTGAGE PAYMENTS?&nbsp;&nbsp;AS A CDPE (CERTIFIED DISTRESSED PROPERTY EXPERT),
                    I MAY BE ABLE TO HELP YOU AVOID FORECLOSURE.&nbsp; &nbsp;</strong></p>
            <p style="text-align: justify"><strong><img title="Laughing"
                        src="http://secure.z57.com/mx/mcc/tinymce/jscripts/tiny_mce/plugins/emotions/images/smiley-laughing.gif"
                        alt="Laughing" border="0"
                        onerror="this.src='https://d23r59tl76qo2o.cloudfront.net/images/not-avail-min.jpg'">NOW IS A
                    GREAT TIME TO BUY A HOME!&nbsp; INTEREST RATES ARE HISTORICALLY LOW!&nbsp;&nbsp;DON’T MISS OUT ON
                    THE BEST OPPORTUNITY IN YEARS TO BUY A HOME!&nbsp; CALL ME NOW TO GRAB A GREAT BARGAIN BEFORE PRICES
                    GO UP, UP, UP!</strong></p>
            <p style="text-align: justify"><img title="Laughing"
                    src="http://secure.z57.com/mx/mcc/tinymce/jscripts/tiny_mce/plugins/emotions/images/smiley-laughing.gif"
                    alt="Laughing" border="0"
                    onerror="this.src='https://d23r59tl76qo2o.cloudfront.net/images/not-avail-min.jpg'"><strong>ATTENTION
                    SELLERS!&nbsp; CALL OR EMAIL ME NOW TO FIND OUT WHAT YOUR HOME IS WORTH IN TODAY’S HOT
                    MARKET:</strong></p>
            <p style="text-align: justify"><strong>CELL:&nbsp; 847-910-4890</strong></p>
            <p style="text-align: justify">Welcome to your one-stop source for real estate services covering the
                Schaumburg, Hoffman Estates, Hanover Park, Streamwood, Elk Grove Village, Palatine, Bartlett, Roselle
                and all other Chicago and Chicago Suburban areas. Real estate is one of the most exciting investments
                one can make, and it should be a fun and rewarding experience. Here you’ll find everything you’ll need
                to buy or sell a home, as well as learn about the market value of homes you may own in the area. It is
                my goal to provide you with superior personal service at all times, so please tell me more about you! <a
                    href="/about-me">Learn About Me.</a></p>
            <p style="text-align: justify"><a href="/contact-me">Contact me</a> so I can keep you updated on the latest
                real estate activities in our community and answer any questions you may have.</p>
            <div style="clear: both"></div>
            <p>Thanks and I look forward to assisting you in all of your real estate needs!</p>
            <div>Mary Stevens, CDPE</div>
            <div>475.135695</div>
            <div><a href="mailto:mstevens21@aol.com">mstevens21@aol.com</a></div>
            <div>(847) 910-4890</div>
            <p>&nbsp;</p>

        </div>

    </div>


</div>
<div><a href="#"><button class="btn btn-default" type="button">Have Questions?</button></a></div>
<br>
<br>