<div class="container search" style="border: 1px solid #000;">
    <div class="row">
        <div class="col-md-12">

            <input type="button" class="click" id="click" value="FIND MY LOCATION">
            <input type="text" class="control-label" value="Type to search by city" />
            <input type="button" class="click" id="click" value="Search">

        </div>

    </div>
    <div class="container bottom_search">
        <div class="row">
            <div class="col-md-3">
                <div class="dropdown form-control">

                    <div data-toggle="dropdown" class="filter_menu_trigger">Bedrooms 0+
                        <span class="caret caret_sidebar "></span>
                    </div>
                    <!--  <input type="hidden" name="bedrooms" value="0">-->
                    <ul class="dropdown-menu filter_menu v2-dropdown" role="menu" aria-labelledby="sidebar-adv_categ">
                        <li role="presentation" data-value="0">Bedrooms 0+</li>
                        <li role="presentation" data-value="1">Bedrooms 1+</li>
                        <li role="presentation" data-value="2">Bedrooms 2+</li>
                        <li role="presentation" data-value="3">Bedrooms 3+</li>
                        <li role="presentation" data-value="4">Bedrooms 4+</li>
                        <li role="presentation" data-value="5">Bedrooms 5+</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3">
                <div class="dropdown form-control">

                    <div data-toggle="dropdown" class="filter_menu_trigger">Bathrooms 0+
                        <span class="caret caret_sidebar "></span>
                    </div>
                    <input type="hidden" name="Bathrooms" value="0">
                    <ul class="dropdown-menu filter_menu v2-dropdown" role="menu" aria-labelledby="sidebar-adv_categ">
                        <li role="presentation" data-value="0">Bathrooms 0+</li>
                        <li role="presentation" data-value="1">Bathrooms 1+</li>
                        <li role="presentation" data-value="2">Bathrooms 2+</li>
                        <li role="presentation" data-value="3">Bathrooms 3+</li>
                        <li role="presentation" data-value="4">Bathrooms 4+</li>
                        <li role="presentation" data-value="5">Bathrooms 5+</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6">
                <div>Price:<span id="spanOutput"></span>
                    <br /><br />
                    <div id="slider" style="width: 300px;"></div>
                </div>

            </div>
        </div>
        <br>
    </div>
</div>