
#contact-form{
    color: #000;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    background: white;
}
#contact-form > h4{
    border-bottom: 1px solid #000;
}

#contact-form .btn {
    width: 100%;
}
#contact-popup{
    position: fixed;
    z-index: 300;
    right:50px;
    bottom: 50px;
    display: none;
}